@model HorarioModel;
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div class="card col-8">
    <div class="card-header">
        Editar apartado
    </div>
    <div class="card-body justify-content-center">
        <form asp-action="Editar" asp-asp-controller="Horarios" method="post">
            <input asp-for="idhorario" type="hidden" class="from-control"/>
            <div class="col-md-4 mb-3">
                <select class="form-control" asp-for="refInstalacion.idaula"
                        asp-items="@(ViewBag.Lista!=null?new SelectList(ViewBag.Lista, "Value", "Text"):
            new List<SelectListItem>())">
                    <option value="">Selecciona el aula</option>
                </select><br />
            </div>
            <div class="col-md-4 mb-3">
                <label>Clave de empleado</label><br />
                <input type="number" asp-for="clave_empleado2" class="from-control" />
            </div>
            <div class="col-md-4 mb-3">
                <label>Fecha</label><br />
                <input type="date" asp-for="Fecha" class="from-control" />
            </div>
            <div class="col-md-4 mb-3">
                <label>Hora Inicio</label><br />
                <input type="time" asp-for="HoraInicio" class="from-control" />
            </div>
            <div class="col-md-4 mb-3">
                <label>Hora Fin</label><br />
                <input type="time" asp-for="HoraFin" class="from-control" />
            </div>
            <div class="col-md-4 mb-3">
                <button type="submit" class="btn btn-primary mb-3 btn-sm">Guardar</button> <br />
                <a asp-action="Listar" asp-controller="Horarios" class="btn btn-warning btn-sm">Volver a la lista</a>
            </div>           
        </form>
    </div>
</div>

